apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
stringData:
  APP_JWT_SECRET: "change-me-secret"
  APP_AES_KEY: "change-me-32-bytes-key-change-me"
  DB_PASSWORD: "vkube"
  LDAP_BIND_PASSWORD: "admin"

